@import "../../../node_modules/bootstrap/scss/variables";
.choose-us {
  padding-top: 80px;
  padding-bottom: 90px;
  * {
    text-align: center;
  }

  .card-container {
    gap: 35px;
  }

  .card {
    padding: 46px 29px 58px 29px;
    border: none;
    gap: 10px;
    width: 100%;

    img {
      width: clamp(100px, 100%, 150px);
      max-height: 200px;
      margin-bottom: 26px;
    }

    &:hover {
      box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
    }

    &__heading {
      font-size: 24px;
      margin-bottom: none;
    }

    &__description {
      font-size: 17px;
    }
    button {
      font-size: 14px;
      padding: 11px 22px;
    }

    @media (width > 500px) {
      width: 70%;

      img {
        width: clamp(100px, 100%, 307px);
      }
    }

    @media (width > 1200px) {
      width: 30%;
    }

    @media (width > 1600px) {
      max-width: 365px;
      min-height: 548px;
    }
  }

  &__description {
    margin-bottom: 20px;
  }
}
