footer {
  gap: 26px;
  a {
    text-decoration: none;
    color: black;
  }
  .footer__links {
    font-size: 20px;
    text-align: center;
    gap: 20px;
    @media (min-width: 900px) {
      gap: 86px;
      flex-direction: row !important;
    }

    li {
      border-bottom: 2px solid transparent;

      &:hover {
        border-color: $primary;
      }
    }
  }

  .copyright {
    width: 100%;
    margin-top: 26px;
    border-top: 1px solid #eae5e5;
    font-size: 13px;
    padding: 22px 52px;
    color: #828282;

    * {
      color: #828282;
    }
  }
}
