@import "../../../node_modules/bootstrap/scss/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins";
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: inherit;

  &:hover {
    background-color: black;
    color: white;
  }
}

.btn--yellow {
  background-color: $secondary;
  border: 1px solid transparent;
  &:hover {
    background-color: rgb(255, 245, 138);
    border: 1px solid black;
    color: black;
  }
}

.btn--transparent {
  background-color: transparent;
  border: black solid 2px;
}
