@import "../../../node_modules/bootstrap/scss/variables";
.navbar {
  a {
    padding: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0;
  }
  .nav-item {
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid $primary;
    }
  }
}

@media (width < 1600px) {
  .navbar {
    ul {
      gap: 48px !important;
    }
    button {
      padding: 10px !important;
    }
  }
}
