.seo {
  padding: 114px 12px 97px 3px;
  img {
    width: clamp(300px, 40vw, 770px);
  }

  &__right {
    max-width: 754px;
    gap: 28px;

    .card-container {
      gap: 51px;

      .card {
        max-width: 638px;
        padding: 14px 44px;
        border: none;
        gap: 28px;
        img {
          width: 101px;
        }

        &:hover {
          box-shadow: 5px 25px 37px rgba(2, 22, 5, 0.06);
          border-radius: 4px;
        }
      }
    }
  }

  &__description {
    margin-bottom: 36px;
  }
}
