.solution {
  padding: 100px 200px;

  &__left {
    max-width: 600px;
  }
  img {
    max-width: clamp(150px, 40vw, 600px);
  }

  &__description {
    margin-top: -28px;
  }
}

@media (width < 992px) {
  .solution {
    text-align: center;
    padding: 20px 10px;
  }
}
