.solution {
  position: relative;
  padding: 100px 200px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* Center horizontally */
    width: 100vw; /* Extend to full viewport width */
    height: 100%;
    background-color: #fafafa;
    transform: translateX(-50%); /* Adjust for centering */
    z-index: -1; /* Place behind content */
  }
  &__left {
    max-width: 600px;
  }
  img {
    max-width: clamp(150px, 40vw, 600px);
  }

  &__description {
    margin-top: -28px;
  }
}

@media (width < 992px) {
  .solution {
    text-align: center;
    padding: 0px;
  }
}
