.stats {
  color: #6f6f6f;
  margin-bottom: 87px;
  &__container {
    gap: 6px;
    padding: 8px;
    border: 1px solid #e1e1e1;

    @media (width > 728px) {
      gap: 14px;
      padding: 20px;
    }

    @media (width > 1400px) {
      padding: 54px 65px;
      gap: 56px;
    }
  }

  &__val {
    font-size: clamp(30px, 4vw, 73px);
    font-weight: 600;
  }

  &__label {
    font-size: 17px;
    line-height: 26px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 65px;
    text-align: center;
  }

  &__dot {
    &:nth-child(4) {
      background-color: #3bd165;
    }
    &:nth-child(6) {
      background-color: #f7c745;
    }
  }
}
