.subscribe {
  padding-top: 57px;
  padding-bottom: 95px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fafafa;
  border-radius: 16px;
  text-align: center;

  @media (min-width: 1200px) {
    padding-top: 57px;
    padding-bottom: 95px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: 1600px) {
    margin-top: 250px;
    margin-bottom: 170px;
    margin-left: 148px;
    margin-right: 148px;
    padding-left: 150px;
    padding-right: 150px;
  }

  &__heading {
    font-size: clamp(36px, 4vw, 50px);
  }

  &__description {
    font-size: 20px;
    margin-bottom: 41px;
    color: #909090;
  }

  &__form {
    gap: 30px;

    input {
      padding: 24px 37px;
      width: 70%;
      border: 1px solid #c3c6d0;
      font-size: 19px;

      @media (width > 1200px) {
        width: 100%;
      }
    }

    button {
      align-self: center;
      padding: 22px 24px;
      background-color: $primary;
      font-size: 20px;
      color: white;

      &:hover {
        background-color: #9ca3fa;
      }
    }
  }
}
