@import "../../../node_modules/bootstrap/scss/variables";
.team {
  padding-top: 80px;

  @media (min-width: 992px) {
    margin-bottom: 170px;
  }

  * {
    text-align: center;
  }

  &__heading {
    margin-bottom: 21px;
  }
  &__description {
    max-width: 660px;
  }

  .card-container {
    gap: 30px;
  }

  .card {
    max-width: 269px;
    min-height: 339px;
    padding: 53px 37px 44px 37px;
    border: 1px solid #efefef;
    gap: 10px;

    img {
      width: clamp(100px, 100%, 131px);
      max-height: 200px;
      margin-bottom: 10px;
    }

    &:hover {
      border-color: transparent;
      box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
      .card__heading {
        color: $primary;
      }
    }

    &__heading {
      font-size: 22px;
      margin-bottom: 0px;
    }

    &__heading-text {
      font-size: 15px;
      margin-bottom: 22px;
    }

    &__links {
      margin-bottom: 0px;
      svg:hover {
        path {
          fill: $primary;
        }
      }
    }
    button {
      font-size: 14px;
      padding: 11px 22px;
    }
  }
}
