$primary: #6f77f1;
$secondary: #fad725;

$spacers: (
  0: 0,
  1: 20px,
  2: 24px,
  3: 30px,
  4: 40px,
  5: 64px,
  6: 128px,
  7: 170px,
  8: 230px,
);

$h1-font-size: clamp(30px, 10vw, 90px);
$h2-font-size: 55px;
$h3-font-size: 38px;
$h4-font-size: 24px;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;
$headings-font-weight: 400;
$grid-gutter-width: 30px !default;

@media (width < 500px) {
  $h1-font-size: clamp(30px, 10vw, 90px);
  $h2-font-size: 2px;
  $h3-font-size: 2px;
  $h4-font-size: 2px;
}
